body {
    margin: 0;
    font-family: 'Open Sans', sans-serif, 'Roboto';
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.fitness {
    display: flex;
}

.comments {
    display: flex;
}

.service {
    display: flex;
}

.second__content {
    margin-left: 25px;
}

.header {
    background-color: #1a1b1c;
    color: white;
    font-weight: 700;
}

.header__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 74px;
}

ul {
    margin: 0;
    padding: 0;
}

ul > li {
  list-style: none;
}

.main__page {
    display: flex;
    flex-direction: column;
}

.nav {
    font-weight: 700;
    width: 325px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.nav__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.nav__item-link {
    color: black;
    text-decoration: none;
    display: flex;
}

.contacts {
    display: flex;
    flex-direction: column;
    font-style: normal;
}

.contacts__number {
    color: white;
    text-decoration: none;
    font-size: 21px;
}

.contacts__calendar {
    color: #e1942a;
    font-size: 14px;
    text-align: right;
}

.fitness__preview-pic {
    width: 55%;
    margin: 80px 0px 50px 150px;
}

.features {
    color: black;
    border: 1px solid black;
    margin-top: 40px;
}

.features__list {
    align-items: center;
    justify-content: space-between;
}

.nav__item--link--main::before {
    content: url(./img/main/header/main__icon.png);
    margin-right: 5px;
}

.nav__item--link--reviews::before {
    content: url(./img/main/header/feed__icon.png);
    margin-right: 5px;
}

.nav__item--link--services::before {
    content: url(./img/main/header/service__icon.png);
    margin-right: 5px;
}

.nav__item--link--main:hover::before {
    content: url(./img/main/header/main__icon-active.png);
}

.nav__item--link--reviews:hover::before {
    content: url(./img/main/header/feed__icon-active.png);
}

.nav__item--link--services:hover::before {
    content: url(./img/main/header/service__icon-active.png);
}

.nav__item-link:hover {
    color: #e1942a;
}

.features {
    position: relative;
    padding: 25px 40px;
}

.features__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.features__name {
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.features__item-title {
    font-weight: 800;
    font-size: 12px;
}

.features__item-text {
    font-weight: 400;
    font-size: 18px;
}

.features__item-list {
    text-align: left;
}

.features__item-list__item {
    margin-bottom: 15px;
}

.features__item-circle {
    width: 70px;
    height: 70px;
    background-color: #e1942a;
    border-radius: 100%;
    margin-bottom: 40px;
}

.features__item-pic {
    margin: 20px;
}

.news {
    display: flex;
    flex-direction: row;
}

.news__list {
    display: flex;
    flex-direction: column;
    width: 850px;
}

.news__title {
    display: flex;
    font-weight: 700;
    font-size: 49px;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 65px;
}

.news__item {
    display: flex;
    margin-bottom: 60px;
}

.news__item-div {
    display: flex;
    align-items: left;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

.news__item-pic {
    margin-right: 20px;
}

.news__item-date {
    font-weight: 200;
    font-size: 14px;
}

.news__item-title {
    font-weight: 700;
    font-size: 18px;
}

.news__item-text {
    width: 80%;
    font-size: 18px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin-top: 30px;
}

.links__list {
    margin: 10px;
}

.links__item {
    margin-top: 20px;
}

.links__title {
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    color: #525050;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0px 70px;
}

.pagination__display {
    margin-right: 25px;
    color: #656464;
}

.pagination__pages-list {
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: space-between;
}

.pagination__pages-item {
    color: #262424;
    font-weight: 700;
    font-size: 14px;
}

.pagination__pages-link {
    text-decoration: none;
}

.pagination__pages-link--active {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 27px;
    height: 27px;
    background-color: #2b2b40;
    color: white;
    margin-right: -3px;
    border-radius: 3px;
}

.footer {
    background-color: #1a1b1c;
    color: white;
    font-weight: 700;
}

.footer__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 74px;
}

.socials {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.socials__list {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.socials__item-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25px;
    height: 25px;
    margin-right: 0px;
    background-color: white;
    border-radius: 100%;
}

.breadcrumbs {
    margin-top: 40px;
}

.breadcrumbs__item, .breadcrumbs__link {
    display: inline-block;
    vertical-align: middle;
  }
  
  .breadcrumbs__item {
    font-size: 14px;
  }
  
  .breadcrumbs__link {
    color: #e7a955;
    font-style: italic;
  }
  
  .breadcrumbs__link--unactive {
    color: #000;
    text-decoration: none;
  }
  
  .breadcrumbs__item:after {
    content: " /";
    display: inline-block;
    vertical-align: middle;
  }
  
  .breadcrumbs__item:last-child:after {
    display: none;
  }

.feeds {
    display: flex;
    flex-direction: row;
}

.feeds__list {
    display: flex;
    flex-direction: column;
    width: 850px;
}

.feeds__title {
    display: flex;
    font-weight: 700;
    font-size: 49px;
    align-items: center;
    justify-content: start;
    margin-top: 30px;
    margin-bottom: 50px;
}

.feeds__item {
    display: flex;
    margin-bottom: 60px;
}

.feeds__item-div {
    display: flex;
    align-items: left;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

.feeds__item-pic {
    margin-right: 20px;
}

.feeds__item-date {
    font-weight: 200;
    font-size: 14px;
}

.feeds__item-title {
    font-weight: 700;
    font-size: 18px;
}

.feeds__item-text {
    font-weight: 400;
    font-size: 18px;
    width: 610px;
}

.notice {
    background: url(/img/feeds/pattern.png) center center #1a1b1c;
    width: 325px;
    font-weight: 200;
    font-size: 18px;
    color: white;
    margin-bottom: 40px;
    margin-top: 40px;
}

.notice__text {
    padding: 25px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 580px;
    height: 355px;
    background-color: #f4f4f4;
    padding: 50px 70px;
    margin-bottom: 50px;
}

.form__title {
    font-weight: 700;
    font-size: 49px;
    margin-bottom: 15px;
}

.feeds__label {
    font-weight: 200;
    font-size: 14px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

.feeds__label-block {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.submit {
    width: 125px;
    height: 45px;
    font-weight: 700;
    font-size: 12px;
    margin-left: 70%;
    color: white;
    background-color: #222423;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    border: 0px;
    border-radius: 2px;
}

.form__top {
    width: 270px;
    height: 45px;
}

.feeds__top-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__bottom {
    width: 575px;
    height: 90px;
    margin-top: 5px;
}

.form__top:focus {
    border-color: #e1942a;

}

.form__bottom:focus {
    border-color: #e1942a;
}

.feeds__radio-block {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.services__title {
    font-weight: 700;
    font-size: 49px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.services__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__item {
    width: 250px;
    margin-bottom: 50px;
}

.services__item-title {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
}

.partners {
    width: 325px;
    height: 755px;
    border: 1px solid black;
    margin: 40px 0px;
}

.partners__title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 35px;
    margin-top: 35px;
}

.partners__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.partners__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 325px;
    height: 110px;
}

.partners__item-pic-flamingo {
    width: 141px; height: 63px;
    background: url('/img/services/logos/logos_sprite.png') -10px -10px;
}

.partners__item-pic-flamingo:hover {
    width: 141px; height: 63px;
    background: url('/img/services/logos/logos_sprite.png') -171px -10px;
}

.partners__item-pic-malibu {
    width: 160px; height: 28px;
    background: url('/img/services/logos/logos_sprite.png') -332px -10px;
}

.partners__item-pic-malibu:hover {
    width: 160px; height: 28px;
    background: url('/img/services/logos/logos_sprite.png') -332px -58px;
}

.partners__item-pic-lion {
    width: 61px; height: 62px;
    background: url('/img/services/logos/logos_sprite.png') -332px -106px;
}

.partners__item-pic-lion:hover {
    width: 61px; height: 62px;
    background: url('/img/services/logos/logos_sprite.png') -413px -106px;
}

.partners__item-pic-arni {
    width: 125px; height: 64px;
    background: url('/img/services/logos/logos_sprite.png') -10px -93px;
}

.partners__item-pic-arni:hover {
    width: 125px; height: 64px;
    background: url('/img/services/logos/logos_sprite.png') -155px -93px;
}

.partners__item-pic-grif {
    width: 160px; height: 45px;
    background: url('/img/services/logos/logos_sprite.png') -10px -177px;
}

.partners__item-pic-grif:hover {
    width: 160px; height: 45px;
    background: url('/img/services/logos/logos_sprite.png') -10px -242px;
}

.partners__item-pic-athletics {
    width: 42px; height: 62px;
    background: url('/img/services/logos/logos_sprite.png') -332px -188px;
}

.partners__item-pic-athletics:hover {
    width: 42px; height: 62px;
    background: url('/img/services/logos/logos_sprite.png') -394px -188px;
}

.hello-pic {
    width: 100%;
}

.animation {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
    }
    100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
    }
    100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }     
}

.hello__block {
    position: absolute;
    height: 280px;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: space-between;
}

.hello__button {
    width: 175px;
    height: 45px;
    border-radius: 3px;
    border: 0px;
    background-color: rgb(248, 149, 19);
}

.hello__link {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 12px;
}