.contacts {
    color: white;
    font-size: rem(20px);
    margin: 0;
    display: flex;
    align-items: center;
}

.contacts-pic {
    margin-right: rem(6px);
}

.footer{
    .contacts{
        color: #365a49;
        font-size: rem(21px);
    }

    .contacts-pic {
        background-color: #365a49;
    }
}

@include tablets {
    .header {
        .contacts {
            display: none;
        }
    } 

    .footer {
        .contacts {

            
        }
    } 
}