.form__elem {
    display: flex;
}

.form__column {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }

    .btn {
        background-color: #365a49;
        color: white;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(20px);
}

.form__block {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }
}

.form__block-title {
    font-size: rem(18px);
    text-align: left;
    color: #365a49;
    margin-bottom: rem(6px);
}

.form__input {
    background: #fff;
    border-radius: rem(3px);
    border: none;
    height: rem(59px);
    width: 100%;
    -webkit-box-sizing: border-box;
    padding: rem(22px) rem(11px);

    &--textarea {
        resize: none;
        height: rem(185px);
    }
}

.form__questions {
    display: flex;
    flex-direction: column;
    width: rem(450px);
}

.form__questions-row {
    display: flex;
    align-items: center;
    margin-right: rem(25px);
    margin-top: rem(20px);

    &:last-child {
        margin-top: 9;
    }
}

.form__questions-money {
    width: rem(26px);
    height: rem(26px);
    margin-right: rem(25px);
    margin-left: rem(20px);
    background-color: #ffffff;

    &:first-child {
        margin-left: 0;
    }
}

.form__questions-call {
    width: rem(26px);
    height: rem(26px);
    margin-right: rem(25px);
    padding: rem(25px) rem(7px) rem(8px) rem(8px);
    background-color: #ffffff;
}

@include tablets {
    .order__form {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .form__elem {
        display: flex;
        flex-direction: column;
        width: rem(475px);
        align-items: center;
    }

    .form__input {
        height: rem(35px);
    }

    .form__column {
        margin-right: 0;
        width: 100%;
    }

    .form__input--textarea {
        width: 100%;
        height: rem(80px);
    }

    .form__buttons {
        display: flex;
        justify-content: center;
    }
}

@include phones {
    .order__form {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .form__elem {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .form__questions {
        align-items: center;
        width: 100%;
    } 
}