.header {
    margin-top: rem(24px);
    width: rem(940px);
    height: rem(39px);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 0%;
    padding: 0%;
    font-size: rem(18px);
    width: rem(634px);
    color: white;
}

@include tablets {
    .header {
        width: 100%;

        &__buttons {
            display: none;
        }

        &__contacts {
            display: none;
        }
    }
}
