.section .map {
    height: 100%;
}

.map {
    display: flex;
    margin: auto;
}

@include tablets {    
    .map {
        width: 100%;
    }
}

@include phones {
    .map {
        width: 100%;
    }
}